.custom {
  background-color: #f8dedf;
  border-color: #de595e;
  border-radius: 8px solid;
  color: #de595e;
}

.view-btn {
  margin-right: 10px;
  color: #dd595d;
  font-weight: bold;
  text-decoration: none;
}
