.bg-left {
    background-color: #FFFFCD;
  }

.txt-color{
  color: #5B2018;
}

.bg-right {
  background-color: #FFFFFF;
}

.btn-color {
  background-color: #DE595E !important;
  color: #FFFFFF !important;
}

.txtfield-border {
  border-color: #B4D1D0;
}