:root {
  --bs-danger: #DD595D !important;  /* Background color */
  --bs-danger-bg: #DD595D !important;  /* Background color */
  --bs-danger-border-color : #DD595D !important;  /* Border color */
  --bs-danger-text: white !important;  /* Text color */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
