/* src/Events.css */

.nav-link {
    font-size: 16px;
    color: #6c757d;
    margin-right: 20px;
  }
  
  .nav-link.active {
    color: #f43f5e;
    font-weight: bold;
  }
  
  .navbar-brand span {
    font-size: 20px;
    font-weight: bold;
    color: #f43f5e;
  }
  
  .logo-img {
    height: 50px;
  }
  
  .event-card {
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #f43f5e;
    border-color: #f43f5e;
  }
  
  .btn-outline-secondary {
    border: none;
    color: #f43f5e;
  }

  
  .event-image{
    
  }